* {
    box-sizing: border-box;
    margin: 1fr;
  }

.container {
    background: #eee;
    border: 1px solid #c00;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 10px;
    position: relative;
    background-image: linear-gradient(to right, #cd4a53 ,  #eee 15%);
    box-shadow: 1px 8px 10px 0 rgb(72, 84, 84);

    display: flex;   
    width: 100%; 
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

#content {
    margin-top: 3rem;
}

.title {
    color: #c00;
    font-size: 2rem;
    margin: .5rem 0;
}

.pubDate {
    font-weight: bold;
    font-size: smaller;
}

#button {
    margin-top: 3rem;
}
